<div id="event" class="slide-it">

<div class="bg-primary">
    <h3 class="mb-0 p-4" style="color: white">
        Skapa ny händelse
        
    </h3>
</div>
<form class="mb-0 p-4 border border-primary rounded-bottom" id="create-event-form" hx-post="{% url 'create_event' %}" hx-target="#calendar" hx-swap="innerHTML">
    {% csrf_token %}
    <!-- {{ form.as_table }} -->
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}

        {{ form.type.label_tag }}
        {{ form.type }}

        {{ form.medicine.label_tag }}
        {{ form.medicine }} 
    <button type="submit" value="Save" class="btn btn-primary mt-4">
        Spara
    </button>
    <button type="button" class="btn btn-secondary mt-4" hx-get="{% url 'show-calendar' %}" hx-target="closest div" hx-swap="transition:true">
        Avbryt
    </button>
</form>
</div>