{% load templatetags %}
{% load tz %}
{% block content %}
<div class="month pt-4 pb-4 calendar-banner">
  <ul class="d-flex align-items-center justify-content-between">
    <button class="prev btn text-white"
      hx-get="{% url 'view_prev_month' %}"
      hx-target="#container"
    >
      &#10094;
    </button>
    <li class="">{{ date|date:"F" }}<br><span style="-size:18px">{{ date.year }}</span></li>
    <button class="next btn text-white"
      hx-get="{% url 'view_next_month' %}" 
      hx-target="#container" 
    >
        &#10095;
    </button>
  </ul>
</div>

<ul class="weekdays bg-light border border-dark border-bottom">
  <li>Måndag</li>
  <li>Tisdag</li>
  <li>Onsdag</li>
  <li>Torsdag</li>
  <li>Fredag</li>
  <li>Lördag</li>
  <li>Söndag</li>
</ul>

<ul class="days mb-0">
    {% now "j" as current_day %}
    {% now "n" as current_month %}
    {% with month=date.month %}
    {% for i in month|get_days_in_month %}
  <li>
    {% if i|stringformat:"s" == current_day and current_month == date.month|stringformat:"s" %}
    <button class="btn btn-primary" hx-get="{% url 'show_create_event_form' i %}" hx-target="closest div" hx-swap="transition:true">
        {{ i }}
    </button>
    {% else %}
    <button class="btn btn-light position-relative" hx-get="{% url 'show_create_event_form' i %}" hx-target="closest div" hx-swap="transition:true">
      <!-- <span class="badge bg-primary position-absolute top-0 start-0 border border-light">&nbsp;</span> -->
      {{ i }}
    </button>
    {% endif %}
  </li>
    {% endfor %}
    {% endwith %}
</ul>
{% endblock %}