<div>
  <h3>Händelser</h3>
  Inga händelser att visa
</div>
<h3 class="mt-4 pb-2">Skapa ny händelse</h3>
<form
  class="col-6 mb-0 p-4 bg-white rounded"
  id="create-event-form"
  hx-post="{% url 'create_event' %}"
  hx-target="#main"
  hx-swap="transition:true"
>
  {% csrf_token %} {{ form.as_table }}
  <button type="submit" value="Save" class="btn btn-primary mt-4 p-2">
    Spara
  </button>
  <button
    type="button"
    class="btn btn-secondary mt-4 p-2"
    hx-get="{% url 'home' %}"
    hx-target="#main"
    hx-swap="transition:true"
  >
    Avbryt
  </button>
</form>
