<script>
document.body.addEventListener('htmx:beforeRequest', function(event) {
  if (event.detail.target.id === 'event-container') {
    // Assuming you want to change the content of all buttons that could trigger this event
    // You might need a way to identify the specific button that was clicked
    // This example assumes there's a way to identify the button (e.g., using a class or data attribute)
    var ps = document.querySelectorAll('.selected-day');
    ps.forEach(function(p) {
      p.classList.remove('selected-day');
    });
  }
});
</script>

{% load tz %}
{% load static %}
<div class="fade-me-in fade-me-out">
  <div id="event-list"
        hx-get="{% url 'show_events' date %}"
        hx-trigger="new_med_event from:body"
        >
    {% include "partials/event_list.html" %}
  </div>
</div>
<h4 class="mt-4 pb-2 fade-me-in">Skapa ny</h4>
<form
  class="mb-0 bg-white rounded fade-me-in"
  id="create-event-form"
  hx-post="{% url 'create_event' %}"
  hx-target="#day-{{ date.day }}-events"
  hx-swap="beforeend"
  hx-on::after-request="this.reset();"
>
  {% csrf_token %} {% for field in form %}
  <div class="form-floating mb-2 position-relative">
    {{ field }}
    <label for="{{ field.id_for_label }}" class="form-label"
      >{{ field.label }}</label
    >
  </div>
  {% endfor %}
  <button type="submit" value="Save" class="btn btn-primary mt-1 px-3">
      <div class="button-text">
        <i class="fa fa-plus"></i>
        Spara
      </div>
      <img
        id="spinner"
        class="htmx-indicator"
        src="{% static '785.svg' %}"
      />
  </button>
  <button
    type="button"
    class="btn btn-secondary mt-1 px-3"
    hx-get="{% url 'empty_view' %}"
    hx-target="#event-container"
    hx-swap="swap:0.5s"
  >
    Stäng
  </button>
</form>
<div
    id="selected-day-{{ date.day }}"
    class="selected-day" 
    hx-swap-oob="true"
>
  <p
   id="day-{{ date.day }}-p" 
   class="day"
  >
    {{ date.day }}
  </p>
</div>

