<div class="month pt-4 pb-4 bg-success">
  <ul class="d-flex align-items-center justify-content-between">
    <button class="prev btn text-white"
      hx-get="{% url 'view_prev_month' %}"
      hx-target="#calendar"
    >
      &#10094;
    </button>
    <li>{{ date|date:"F" }}<br><span style="-size:18px">{{ date.year }}</span></li>
    <button class="next btn text-white"
      hx-get="{% url 'view_next_month' %}" 
      hx-target="#calendar" 
    >
        &#10095;
    </button>
  </ul>
</div>