<button
  id="day-{{ day }}"
  class="btn btn-light d-flex justify-content-center p-0"
  hx-get="{% url 'show_create_event_form' day %}"
  hx-target="#event-container"
  hx-swap="settle:0.5s"
>
{% if i|stringformat:'s' == current_day and current_month == date.month|stringformat:'s' %}
  <p id="day-{{ i }}-p" class="day-current">
    <strong>{{ i }}</strong>
  </p>
{% else %}
  <p
   id="day-{{ i }}-p" 
   class="day"
  >
    {{ day }}
  </p>
{% endif %}
  <div class="badge-container">
  {% for event in events %}
    {% if event.date.day == day %}
      <span class="badge custom-badge">
        <p>
          {{ event.medicine.name }}
        </p>
      </span>
    {% endif %}
  {% endfor %}
  </div>
</button>