<div class="flex flex-col items-center justify-center">
<h1 class="text-4xl mt-5 font-bold tracking-tight text-gray-900 sm:text-6xl">Mina mediciner</h1>
{% for medicine in medicines %}
    <div class="w-full max-w-sm bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-6 py-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ medicine.name }}</h2>
        <div class="grid grid-cols-2 items-center gap-4">
        <div class="flex flex-col space-y-1">
            <span class="text-sm font-medium text-gray-500">Nuvarande dos</span>
            <span class="text-lg font-semibold text-gray-700">{{ medicine.current_dose }}</span>
          </div>
          <div class="flex flex-col space-y-1">
            <span class="text-sm font-medium text-gray-500">Max dos</span>
            <span class="text-lg font-semibold text-gray-700">{{ medicine.doses }}</span>
          </div>
        </div>
        <button class="w-full bg-red-500 hover:bg-red-700 text-white
         font-bold mt-4 py-2 px-4 rounded"
          hx-delete="{% url 'delete_medicine' medicine.pk %}" hx-target="#medicine-list">
          Ta bort
        </button>
      </div>
    </div>
{% endfor %}
<!-- <ul class="list-group" id="medicine-list">
  {% for medicine in medicines %}
  <li class="p-3">
    <div class="row">
      <div class="col-12">
        <h5>{{ medicine.name }}</h5>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        {{ medicine.current_dose }} / {{ medicine.doses }}
      </div>
      <div class="col-auto">
        <span
          class="btn btn-outline-danger"
          hx-delete="{% url 'delete_medicine' medicine.pk %}"
          hx-target="#medicine-list"
        >
          <i class="fa fa-trash"></i>
        </span>
      </div>
    </div>
  </li>
  {% empty %} Hittade inga mediciner
  {% endfor %}
</ul> -->
</div>