<h4>Mina mediciner</h4>
<ul class="list-group" id="medicine-list">
  {% for medicine in medicines %}
  <li class="p-3 list-group-item">
    <div class="row">
      <div class="col-12">
        <h5>{{ medicine.name }}</h5>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        {{ medicine.current_dose }} / {{ medicine.doses }}
      </div>
      <div class="col-auto">
        <span
          class="btn btn-outline-danger"
          hx-delete="{% url 'delete_medicine' medicine.pk %}"
          hx-target="#medicine-list"
        >
          <i class="fa fa-trash"></i>
        </span>
      </div>
    </div>
  </li>
  {% empty %} Hittade inga mediciner
  {% endfor %}
</ul>
