{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
    <i class="bi bi-heart-pulse logo" style="font-size: 40px"></i>
    <span class="ms-2">Meditrack</span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div id="person-list" class="d-flex mb-2 ms-auto">
   <ul class="nav nav-item">
    {% for p in persons %}
      {% include 'partials/person.html' with person=p current=person %}
    {% endfor %}
   </ul>
    </div>
    <button
      class="btn btn-outline-primary mx-3"
      hx-get="{% url 'create_person' %}"
      hx-target="#person_form_container"
    >
      <i class="fa fa-user-plus"></i>
    </button>
    <div id="person_form_container"></div>
    <form method="post" action="{% url 'logout' %}" class="ms-auto">
      {% csrf_token %}
      <button class="btn btn-link d-flex align-items-center" type="submit">
        <i class="bi bi-door-closed" style="font-size: 40px"></i>
      </button>
    </form>
  </div>
</nav>
{% else %}
<div class="m-5 d-flex justify-content-center">
  <h1>
    <span>
      <i class="bi bi-heart-pulse logo" style="font-size: 80px"></i>
    </span>
  </h1>
</div>
{% endif %}
