{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="main" class="row d-flex">
  {% if persons %}
  <div class="col-md-2">
    <div id="medicine-list" hx-get="{% url 'medicine_list' %}" hx-trigger="new_med_event from:body">
    {% include "partials/medicine_list.html" %}
    </div> 
    <button
      class="btn btn-outline-primary mt-1 mb-2 w-100"
      hx-get="{% url 'show_create_form' %}"
      hx-target="#medicine-form-container"
      hx-swap="innerHTML"
    >
      <div class="button-text">
        <i class="fa fa-plus"></i>
        Lägg till
      </div>
      <img
        id="spinner"
        class="htmx-indicator"
        src="{% static '785.svg' %}"
      />
    </button>
    <div id="medicine-form-container" class="hide-on-request">
    </div>
  </div>
  <div id="container" class="slide-it col-md-8">
    {% include "partials/calendar.html" %}
  </div>
  <div id="event-container" class="col-md-2 fade-me-out">
  </div>
  <div class="row">
    <div id="reminder-form-container" class="col-8 hide-on-request">
      {% include "partials/create_medicine_reminder_form.html" %}
    </div>  
    <div id="reminder-list" class="col-4">
      {% include "partials/reminder_list.html" %}
    </div>
  </div>
  {% else %}
  <div class="col-md-6">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Välkommen!</h4>
      <p>
        Det ser ut som att du inte har lagt till någon person. Klicka på
        knappen nedan för att lägga till din första person.
      </p>
      <hr />
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}