{% extends 'base.html' %} {% block content %}
  <div class="d-flex mb-2">
  {% for person in persons %}
    <a class="nav-link mx-3 d-flex align-items-center" href="{% url 'home' %}">
      <i class="bi bi-person-circle" style="font-size: 40px"></i>
      <span class="ms-2">{{ person.name }}</span>
    </a>
  {% endfor %}
  </div>
<div id="main" class="row d-flex justify-content-center">
  <div class="col-md-2">
    <h3>Mina mediciner</h3>
    {% include "partials/medicine_list.html" %}
    <button
      class="btn btn-primary mt-2 p-2 p-3 w-100"
      hx-get="{% url 'show_create_form' %}"
      hx-target="#medicine-form-container"
    >
      <i class="fa fa-plus"></i>
      <strong>Lägg till medicin</strong>
    </button>
    <div id="medicine-form-container"></div>
  </div>
  <div id="container" class="slide-it col-md-6">
    <h3>Kalender</h3>
    {% include "partials/calendar.html" %}
  </div>
  <div id="event-container" class="col-md-2 fade-me-out">
  </div>
</div>
{% endblock content %}
