{% extends 'base.html' %} 
{% block content %} 
<div id="main" class="col-8 offset-2">
    <div id="calendar" class="slide-it">
        {% include "partials/calendar.html" %}
    </div>
    <!-- <div class="mb-0" id="medicine-form"></div>
    <h1> Mina mediciner </h1>
    {% include "partials/medicine_list.html" %}
    <button class="btn btn-success mt-4" hx-get="{% url 'show_create_form' %}" hx-target="#medicine-form" hx-swap="innerHTML">
        Lägg till ny medicin <i class="fa fa-plus"></i>
    </button> -->
</div>
{% endblock content %}